MONGO_URI="mongodb://127.0.0.1:27017/yay-bridge"
PORT=8000
CARDANO_API_URL=""
ETHEREUM_WALLET_PRIVATE_KEY=""
CARDANO_WALLET_ID=""
CARDANO_PASS_PHRASE=""
BLOCKFROST_API_URL="https://cardano-mainnet.blockfrost.io/api/v0"
BLOCKFROST_PROJECT_ID=""
INFURA_KEY=""